.logo {
  width: 70px !important;
  height: 70px !important;
}

.topnav {
  padding-top: 4px !important;
}

.topnav i {
  opacity: 0.5;
}

.topnav i:hover {
  opacity: 1.0;
  cursor: pointer;
}

.mainNav {
  height: 60px;
}

