.historysong {
  background-color: #3A3A3C;
  margin: 0 auto;
  padding-left: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #1A1A1A;
  border-right: 5px solid red; /* youtube red */
  opacity: 0.8;
}

.historysong:hover {
  background-color: #15386A;
  opacity: 1;
  transition: all .2s ease-in-out;
  transform: scaleX(1.3);
}

.historysong:hover .historyContent {
  transform: scaleX(0.7);
}

.historysong:hover .button {
  background-color: #3A3A3C;
}

.button {
  background-color: #153A6A;
  border-style: none;
}
