.historysong {
  background-color: white;
  width: 70%;
  clear: both;
  margin: 0 auto;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: 1px solid #a3a3a3;
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
}

.historysong:hover {
  background-color: #dfdfdf;
}
