.content {
  clear: both;
  padding-top: 2%;
  width: 100%;
  margin: 100px auto 0;
  float: middle;
}

.video {
  padding-left: 5% !important;
  border: 2px solid #5fb1e3;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  margin-left: 5% !important;
}

.list {
  border: 1px solid #000;
  margin-left: 2% !important;
}
