.addsong{
    margin-top: 1% !important;
    margin-left: 0% !important;
    width: 50%;
}

.textarea:focus {
  outline:none;
}

.songURL {
	background-color: #3A3A3D !important;
	color: #FFF !important;
}

.addsongButton {
	background-color: #153A6A !important;
	color: #000 !important; /* Doesn't work, don't know why */
}

.addIcon {
  color: #30AAFF !important;
}
