@font-face {
    font-family: songInfo;
    src: url('https://fonts.googleapis.com/css?family=Muli:300,400');
}

.song {
/*  background-color: white;
  margin: 0 auto;
  padding-left: 1%;
  padding-top: 0.5%;
  border-bottom: 1px solid #a3a3a3;
  border-left: 5px solid red;  youtube red, base off source later 
  border-right: 1px solid #a3a3a3;
  opacity: 0.8;*/
  /* overflow: hidden; --fixes the artist cutoff issue but introduces others. */
  /*float: center;
  display: run-in;*/
}

.song:hover {
  background-color: #FFF;
  position: relative;
  z-index: 10;
  opacity: 1;
  transition: all .2s ease-in-out;
  transform: scaleY(1.3);
  margin: 0 auto;
}

.song:hover .upvoteButton {
  display: inline;
  visibility: initial;
  opacity: 10;
  transition: all .5s ease-in-out;
}

.song:hover .title {
  transform: scaleY(0.7);
}

.song:hover .artist {
  transform: scaleY(0.7);
}

.songInfo {
    margin-left: 1%;
    font-family: songInfo;
}

.title {
    font-size: 150%;
}

.artist {
    font-weight: lighter;
    font-size: 110%;
    font-style: italic;
}


.thumbnailImg {
  height: 30px;
  width: 30px;
}

.thumbnail {
  margin-right: 2%;
  float: left;
}

/*.duration {
    float: right;
    margin-right: 1%;
    padding-top: 1.5%;
}*/

/*.upvote {
  background: red;
    margin: 0 auto;
    width: 5%;
    float: left;
}*/

/*.upvoteCount {
  margin: 0 auto;
}*/
