.song {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: 1px solid #a3a3a3;
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
  opacity: 0.8;
}

.song:hover {
  background-color: #FFF;
  opacity: 1;
  transition: all .2s ease-in-out;
  transform: scaleY(1.3);
}

.song:hover .upvoteButton {
  display: inline;
  visibility: initial;
  opacity: 1;
  /*transition: all .5s ease-in-out;*/
}

.upvoteButton {
    opacity: 0.25;
}

.songInfo {
    width: 65%;
    float: left;
}

.thumbnail {
  height: 30px;
  width: 30px;
}

.thumbnailDiv {
    margin: 0 auto;
    width: 5%;
    float: left;
}

.durationDiv {
    width: 20%;
    float: right;
}

.upvoteDiv {
    margin: 0 auto;
    width: 5%;
    float: left;
}
