.currentSong {
  background-color: #3F3F3F;
  margin: 0 auto;
  margin-top: 1.78%;
  padding: 1%;
  /* border-radius: 50px; */
  text-align: center;
}

.youtubeVideo {
	margin: 0 auto;
  text-align: center;
}

.buttonAccents {
  color: #30AAFF;
}
