* {
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}


/* why is there padding above the header? i don't know */
.app {
    background-color: #EEEEEE;
	color: #000;
	font-size: 80%; /*base font size is 14px*/
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
}
