* {
	margin: 0 0 0 0; 
}

/* why is there padding above the header? i don't know */
.app {
    font-size: 12px; /*base font size is 14px*/
	font-family: sans-serif;
	line-height: 1.5;
}
body {
	background-color: #8e008e;
}